<template>
  <div class="mt-4 p-4">
    <pre>{{ JSON.stringify(item.content, null, 2) }}</pre>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { getSelfDescriptionById } from '../../services/federatedCatalogue';
const keycloakToken = ref<string | null>(window.localStorage.getItem('KEYCLOAK_ACCESS_TOKEN'));

let item = ref<any>({});

const props = defineProps<{
  id: string;
}>();

onMounted(() => {
  if (keycloakToken.value) {
    getSelfDescriptionById(props.id, keycloakToken.value).then((response) => {
      item.value = response;
    });
  }
});
</script>
