<template>
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between">
      <div>
        <p class="text-lg">Simpl Access policy</p>
        <p>{{ schema.properties![accessPolicyFieldName].description }}</p>
      </div>
      <v-btn color="primary" icon="mdi-plus" @click="addPolicy()" />
    </div>
    <v-form v-model="formIsValid" fast-fail>
      <div
        v-for="(policy, index) in innerValue.policies"
        class="mb-2 flex flex-col gap-2 border p-4"
      >
        <div class="flex flex-row justify-between">
          <p class="font-semibold">Policy {{ index + 1 }}</p>
          <v-btn @click="removePolicy(index)" icon="mdi-minus" color="primary" />
        </div>
        <div class="grid grid-cols-2 gap-4">
          <v-select
            label="Action*"
            :name="`policy-${index}-action`"
            v-model="policy.action"
            :items="actionOptions"
            :rules="[rules.required]"
          />
          <v-select
            label="Attribute*"
            :name="`policy-${index}-attribute`"
            v-model="policy.assignee"
            :items="attributeOptions"
            :rules="[rules.required]"
          />
        </div>
        <div class="grid grid-cols-4 gap-4">
          <v-text-field
            label="Valid from date"
            :name="`policy-${index}-from-date`"
            v-model="policy.fromDate"
            placeholder="YYYY-MM-DD"
            :rules="[rules.mustBeDateOrEmpty]"
          />
          <v-text-field
            label="Valid from time"
            :name="`policy-${index}-from-time`"
            v-model="policy.fromTime"
            placeholder="00:00"
            :rules="[rules.mustBeTimeOrEmpty]"
          />
          <v-text-field
            label="Valid to date"
            :name="`policy-${index}-to-date`"
            v-model="policy.toDate"
            placeholder="YYYY-MM-DD"
            :rules="[rules.mustBeDateOrEmpty]"
          />
          <v-text-field
            label="Valid to time"
            :name="`policy-${index}-to-time`"
            v-model="policy.toTime"
            placeholder="00:00"
            :rules="[rules.mustBeTimeOrEmpty]"
          />
        </div>
      </div>
    </v-form>
    <p v-if="!formIsValidAndNotEmpty" class="text-md text-ec-status-error">
      At least one policy is required and action and attribute are required for all policies
    </p>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, reactive, computed } from 'vue';
import type { AccessPolicyPermission } from 'types/accessPolicy';
import { type ControlElement } from '@jsonforms/core';
import { useJsonFormsControl, type RendererProps } from '@jsonforms/vue';
import { accessPolicyFieldName } from '@/util/schema/testers/accessPolicy';

const props = defineProps<RendererProps<ControlElement>>();

const { handleChange } = useJsonFormsControl(props);

const formIsValid = ref<boolean>(false);

const baseAccessPolicy = {
  action: '',
  assignee: '',
  fromDate: '',
  fromTime: '',
  toDate: '',
  toTime: '',
};

const isValidDate = (dateString: string) => {
  const dateRegex = /^\d{4}-\d{2}-\d{2}$/;
  return dateRegex.test(dateString);
};

const isValidTime = (timeString: string) => {
  const timeRegex = /^\d{2}:\d{2}$/;
  return timeRegex.test(timeString);
};

const isPolicyValidDateAndTime = (policy: typeof baseAccessPolicy, fromOrTo: 'from' | 'to') => {
  return isValidDate(policy[`${fromOrTo}Date`]) && isValidTime(policy[`${fromOrTo}Time`]);
};

const rules = {
  required: (v: string) => !!v || 'Required',
  mustBeDateOrEmpty: (v: string) => {
    return v.length === 0 || isValidDate(v) || 'Date should be in YYYY-MM-DD format';
  },
  mustBeTimeOrEmpty: (v: string) => {
    return v.length === 0 || isValidTime(v) || 'Time should be in HH:MM format';
  },
};

const innerValue = reactive({
  policies: [{ ...baseAccessPolicy }],
});

const addPolicy = () => {
  innerValue.policies.push({ ...baseAccessPolicy });
};

const removePolicy = (index: number) => {
  innerValue.policies.splice(index, 1);
};

const actionOptions = [
  { title: 'Consume', value: 'CONSUME' },
  { title: 'Search', value: 'SEARCH' },
  { title: 'Restricted consume', value: 'RESTRICTED_CONSUME' },
];

// TODO: Replace with actual attribute options retrieved from API

const attributeOptions = [
  { title: 'Consumer', value: 'consumer' },
  { title: 'Researcher', value: 'researcher' },
];

const transformedPolicies = computed(() =>
  innerValue.policies.map((policy) => {
    const outputPolicy: AccessPolicyPermission = {
      action: policy.action,
      assignee: policy.assignee,
    };

    if (isPolicyValidDateAndTime(policy, 'from')) {
      outputPolicy.fromDatetime = `${policy.fromDate}T${policy.fromTime}:00`;
    }

    if (isPolicyValidDateAndTime(policy, 'to')) {
      outputPolicy.toDatetime = `${policy.toDate}T${policy.toTime}:00`;
    }

    return outputPolicy;
  })
);

const formIsValidAndNotEmpty = computed(() => formIsValid.value && innerValue.policies.length > 0);

watch(formIsValidAndNotEmpty, async (newValue) => {
  if (!newValue) {
    handleChange(`["${props.path}"]["${accessPolicyFieldName}"]`, undefined);
  } else {
    handleChange(
      `["${props.path}"]["${accessPolicyFieldName}"]`,
      JSON.stringify(transformedPolicies.value)
    );
  }
});
</script>
