<template>
  <div v-if="inputType === 'number'" class="">
    <div>{{ inputLabel }}:</div>
    <div class="flex flex-row items-center gap-4">
      <SInput
        type="number"
        :id="inputId + '-min'"
        label=""
        helper-text=""
        :name="inputId + '-min'"
        :data-original-type="inputOriginalType"
        @change="handleFieldChange"
        @input="handleFieldChange"
      />
      <SSelect :options="numberOperatorOptions" label="" helper-text="" />
      <div>{{ constraint.name }}</div>
      <SSelect :options="numberOperatorOptions" label="" helper-text="" />
      <SInput
        type="number"
        :id="inputId + '-max'"
        label=""
        helper-text=""
        :name="inputId + '-min'"
        :data-original-type="inputOriginalType"
        @change="handleFieldChange"
        @input="handleFieldChange"
      />
    </div>
  </div>
  <SInput
    v-else
    :type="inputType"
    :id="inputId"
    :label="inputLabel"
    :helper-text="inputHelperText"
    :name="inputId"
    :data-original-type="inputOriginalType"
    @change="handleFieldChange"
    @input="handleFieldChange"
  />
</template>

<script setup lang="ts">
import { computed } from 'vue';
import type { Constraint } from '../../../types/shapes';
import SInput from '../common/SInput.vue';
import SSelect from '../common/SSelect.vue';

const inputType = computed(() => {
  const typeMapping: Record<string, string> = {
    string: 'text',
    decimal: 'number',
    boolean: 'checkbox',
    anyURI: 'text',
  };
  return typeMapping[props.constraint.datatype.value];
});

const numberOperatorOptions = [
  { label: '<  ', key: '<' },
  { label: '<=', key: '<=' },
];

const inputId = computed(() => {
  return `input-${props.constraint.name.replace(/\s+/g, '-')}`;
});

const inputLabel = computed(() => {
  return props.constraint.name;
});

const inputHelperText = computed(() => {
  return props.constraint.description?.en ?? '';
});

const inputOriginalType = computed(() => {
  return props.constraint.datatype.value;
});

const props = defineProps<{
  constraint: Constraint;
}>();

const emit = defineEmits<{
  (e: 'fieldChange', key: string, value: string): void;
}>();

const handleFieldChange = (e: Event) => {
  const target = e.target as HTMLInputElement;
  const fieldName = `${props.constraint.path.value}`;
  emit('fieldChange', fieldName, target.value);
};
</script>
