<template>
  <p class="mb-4 text-xl font-bold">
    {{ shapesData.shapeFileName }}
  </p>
  <div class="flex flex-col gap-y-4">
    <div
      v-for="shape in filteredAndSortedShapes"
      :key="`${shapesData.shapeFileName}-${shape.schema}`"
    >
      <p class="mb-2 text-lg font-bold">
        {{ shape.targetClassName }}
      </p>
      <div class="flex flex-col gap-y-4">
        <ShapeInput
          v-for="constraint in shape.constraints"
          :key="`${shapesData.shapeFileName}-${constraint.name}`"
          :constraint="constraint"
          @field-change="(key, value) => handleFormChanges(shape, key, value)"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, reactive, watch } from 'vue';
import type { ServiceShapesData, Constraint, Shape } from '../../../types/shapes';
import ShapeInput from './ShapeInput.vue';

const props = defineProps<{
  shapesData: ServiceShapesData;
}>();

const hasHiddenRuleInValidation = (constraint: Constraint) =>
  constraint.validations?.some((v) => v.key === 'rule' && v.value === 'hidden');

const filterAndSortConstraints = (constraints: Constraint[]) => {
  return constraints
    .sort((a, b) => (a.order ?? 1) - (b.order ?? 1))
    .filter((constraint) => !hasHiddenRuleInValidation(constraint) && constraint.datatype?.value);
};

const filteredAndSortedShapes = computed(() => {
  const newShapesData = { ...props.shapesData };
  const mainShapeName = newShapesData.shapeFileName
    .split('.')[0]
    .toLocaleLowerCase()
    .replace('-', '');
  const mainShape = newShapesData.shapes.find(
    (shape) =>
      shape.schema.toLocaleLowerCase() === mainShapeName ||
      shape.constraints.every((a) => a.children)
  );

  if (
    mainShape &&
    mainShape.constraints.length > 0 &&
    mainShape.constraints?.every((a) => a.order && a.children)
  ) {
    const shapeOrder: Record<string, number> = mainShape.constraints.reduce(
      (prev, curr) => ({
        ...prev,
        [curr.children!]: curr.order,
      }),
      {}
    );
    newShapesData.shapes = newShapesData.shapes.sort(
      (a, b) => (shapeOrder[a.schema] ?? 1) - (shapeOrder[b.schema] ?? 1)
    );
  }

  newShapesData.shapes.forEach((shape) => {
    shape.constraints = filterAndSortConstraints(shape.constraints);
  });

  return newShapesData.shapes.filter((shape) => shape.constraints.length > 0);
});

const formData: { data: Record<string, Record<string, unknown>> } = reactive({ data: {} });

const handleFormChanges = (shape: Shape, key: string, value: unknown) => {
  const searchDataKey = `${shape.targetClassPrefix}:${shape.targetClassName}`;
  // const searchDataValueKey = `${shape.targetClassPrefix}:${key}`;
  if (!formData.data[searchDataKey]) {
    formData.data[searchDataKey] = { '@type': searchDataKey };
  }
  formData.data[searchDataKey][key] = value;
  emit('formDataChanged', formData.data);
};

watch(
  () => props.shapesData,
  () => {
    formData.data = {};
    emit('formDataChanged', formData.data);
  }
);

const emit = defineEmits<{
  (e: 'formDataChanged', formData: Record<string, Record<string, unknown>>): void;
}>();
</script>
