<template>
  <div
    ref="dropzone"
    @drop.prevent="handleFileDrop"
    @dragover.prevent="isDraggingOver = true"
    @dragend.prevent="isDraggingOver = false"
    class="dropzone relative cursor-pointer rounded-sm border-2 px-2 py-4"
    :class="{ 'bg-ec-accent-40': isDraggingOver }"
  >
    <label for="fileupload" class="group relative block w-auto">
      <div class="text-xl">Self description JSON-LD file: <span class="text-red-500">*</span></div>
      <div class="mb-2">
        Only <strong>json jsonld</strong> files are accepted. Maximum size <strong>2 MB</strong>
      </div>
      <SButton class="group-hover:bg-ec-primary-120" :disabled="disabled">Choose file</SButton>
    </label>
    <input
      @input="handleFileInput"
      @change="handleFileInput"
      @cancel="handleFileInput"
      :disabled="disabled"
      class="absolute left-0 top-0 h-full w-full cursor-pointer opacity-0"
      ref="fileInput"
      type="file"
      name="fileupload"
      id="fileupload"
      accept="application/json,application/jsonld,.json,.jsonld"
    />
    <div v-if="currentFile" class="mt-2 border-t pt-1">
      <div class="flex flex-row justify-between">
        <div>
          {{ currentFile.name }}
          <span class="text-ec-dark-80"
            >({{ formatFileSize(currentFile.size) }} -
            {{ getFileExtension(currentFile.name) }})</span
          >
        </div>
        <div>
          <button class="text-red-500">⛌</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import SButton from '../common/SButton.vue';
import { getFileExtension } from '../../util/files';
import { ref } from 'vue';

defineProps({
  disabled: {
    type: Boolean,
    default: false,
  },
});

const isDraggingOver = ref(false);

const fileInput = ref<HTMLInputElement | null>(null);
const dropzone = ref<HTMLDivElement | null>(null);

const emit = defineEmits(['change']);
const currentFile = ref<File | null>(null);

const handleFileInput = (event: Event) => {
  if ((event.target as HTMLInputElement)?.files?.length) {
    currentFile.value = (event.target as HTMLInputElement).files![0];
    emit('change', event);
  } else {
    currentFile.value = null;
    emit('change', event);
  }
};

const formatFileSize = (size: number) => {
  if (size > Math.pow(10, 6)) return `${(size / Math.pow(10, 6)).toFixed(1)} MB`;
  if (size > Math.pow(10, 3)) return `${(size / Math.pow(10, 3)).toFixed(1)} kB`;
  return `${size} Bytes`;
};

const handleFileDrop = (event: DragEvent) => {
  isDraggingOver.value = false;
  if (!event?.dataTransfer?.files?.length) {
    currentFile.value = null;
    return;
  }

  fileInput.value!.files = event.dataTransfer.files;
  currentFile.value = fileInput.value!.files[0];

  const newFakeEvent = {
    target: {
      ...dropzone.value,
      files: event.dataTransfer.files,
    },
  };
  emit('change', newFakeEvent);
};
</script>
