---
import LoginForm from '../components/user/LoginForm.vue';
import Layout from '../layouts/Layout.astro';
const redirectURL = Astro.url.searchParams.get('redirectUrl');
const allowedPaths = ['/upload', '/search', '/create', '/quicksearch', '/sign', '/selfdescription'];
const passedRedirectURL =
  redirectURL && allowedPaths.includes(redirectURL) ? redirectURL : '/upload';
---

<Layout title="Login">
  <LoginForm client:load redirectURL={passedRedirectURL} />
</Layout>
