---
import RequireAuth from '@/components/require-auth/RequireAuth.vue';
import PageHeader from '../components/PageHeader.vue';
import Layout from '../layouts/Layout.astro';
import SearchTabs from '../components/search/SearchTabs.vue';
---

<Layout title="Search federated catalogue">
  <PageHeader title="Search federated catalogue" />
  <RequireAuth client:only="vue">
    <SearchTabs client:only="vue" />
  </RequireAuth>
</Layout>
