---
import PageHeader from '@/components/PageHeader.vue';
import RequireAuth from '../components/require-auth/RequireAuth.vue';
import SelfDescriptionView from '../components/selfdescription/SelfDescription.vue';
import Layout from '../layouts/Layout.astro';

const id = Astro.url.searchParams.get('id') || '';
---

<Layout title="Quick search">
  <main>
    <PageHeader title="Description Details" />
    <RequireAuth client:only="vue">
      <SelfDescriptionView id={id} client:only="vue" />
    </RequireAuth>
  </main>
</Layout>
