---
import RequireAuth from '@/components/require-auth/RequireAuth.vue';
import PageHeader from '../components/PageHeader.vue';
import PublishCatalogue from '../components/upload/PublishCatalogue.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Publish to catalogue">
  <PageHeader title="Publish to catalogue" />
  <RequireAuth client:only="vue">
    <PublishCatalogue client:only="vue" />
  </RequireAuth>
</Layout>
