<template>
  <SSelect
    v-model="adapterType"
    :options="dropdownValues"
    label="Adapter Type"
    class="mb-4"
    :disabled="!keycloakToken"
  />
  <div v-if="(<CatalogSearchResults>data)?.items">
    <SearchResults v-if="(<CatalogSearchResults>data).items.length > 0" :result="(<CatalogSearchResults>data).items" />
    <SStatusMessage v-else-if="!isLoading && (<CatalogSearchResults>data).items.length === 0" title="No results found" variant="warning" />
  </div>
  
  
  <SStatusMessage v-else-if="(<CatalogSearchError>data).code" title="An error occured during quick search" variant="error">
    {{ (<CatalogSearchError>data).message }}
  </SStatusMessage>

  <SLoadingSpinner v-if="isLoading" />
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import {
  AdapterType,
  quickSearch,
  type CatalogSearchError,
  type CatalogSearchResults,
} from '../../services/federatedCatalogue';
import SLoadingSpinner from '../common/SLoadingSpinner.vue';
import SSelect from '../common/SSelect.vue';
import SStatusMessage from '../common/SStatusMessage.vue';
import SearchResults from './SearchResults.vue';

const dropdownValues = [
  { key: AdapterType.DATA, label: 'Data Adapter' },
  { key: AdapterType.INFRA, label: 'Infrastructure Adapter' }
];

const keycloakToken = ref<string | null>(window.localStorage.getItem('KEYCLOAK_ACCESS_TOKEN'));
const data = ref<CatalogSearchResults | CatalogSearchError>({ items: [], totalCount: 0 });
const adapterType = ref<AdapterType>(AdapterType.DATA);
const isLoading = ref(false);

const props = defineProps<{
  search: string
}>();

const performSearch = async () => {
  if (keycloakToken.value) {
    data.value = { items: [], totalCount: 0 };
    isLoading.value = true;
    try {
      data.value = await quickSearch(props.search, keycloakToken.value, adapterType.value);
    } finally {
      isLoading.value = false;
    }
  }
};

watch(adapterType, performSearch);

onMounted(performSearch);
</script>
