<template>
  <component
    :is="isLink ? 'a' : 'button'"
    :type="isLink ? undefined : type"
    :href="href"
    :class="buttonClasses"
    :disabled="isLink ? undefined : disabled"
  >
    <slot />
    <SIcon v-if="icon" class="h-4 w-4 text-inherit" :class="iconClass" :name="icon" />
  </component>
</template>

<script setup lang="ts">
import { computed, type PropType } from 'vue';
import SIcon from './SIcon.vue';

export type ButtonVariant = 'primary' | 'secondary' | 'tertiary' | 'ghost' | 'search';

const props = defineProps({
  href: {
    type: String,
    default: undefined,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  icon: {
    type: String,
    default: '',
  },
  iconClass: {
    type: String,
    default: '',
  },
  variant: {
    type: String as PropType<ButtonVariant>,
    default: 'primary',
  },
  type: {
    type: String as PropType<'button' | 'submit'>,
    default: 'button',
  },
});

const isLink = computed(() => props.href && props.href.length > 0);

const buttonClasses = computed(() => [
  'ec-blue focus:shadow-outline rounded border px-3 py-1.5 focus:outline focus:outline-ec-primary',
  {
    'border-ec-primary bg-ec-primary-100 hover:bg-ec-primary-120 text-white':
      props.variant === 'primary',
    'bg-transparent border-ec-primary-100 hover:bg-ec-primary-120 text-ec-primary hover:text-white':
      props.variant === 'secondary',
    'bg-transparent border-transparent hover:border-ec-dark-80 hover:bg-ec-primary-20 text-ec-dark':
      props.variant === 'tertiary',
    'bg-transparent border-transparent hover:border-ec-dark-80 hover:bg-ec-primary-20 text-ec-primary':
      props.variant === 'ghost',
    '!bg-transparent !text-black !cursor-not-allowed': props.disabled,
    'flex flex-row items-center justify-center gap-x-2': props.icon,
  },
]);
</script>
