<template>
  <svg
    :class="{
      '!fill-current': !useOriginalColors,
    }"
  >
    <use :xlink:href="`#icon-${name}`"></use>
  </svg>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  useOriginalColors: {
    type: Boolean,
    default: false,
  },
});

onMounted(() => {
  if (document) {
    const svg = document.querySelector(`#icon-${props.name}`);
    if (!svg) console.warn(`[SIcon]: Icon '${props.name}'' doesn't exist`);
  }
});
</script>
