<template>
  <div class="relative">
    <div class="flex flex-row">
      <SInput
        ref="searchInput"
        v-bind="$attrs"
        v-model="searchString"
        id="search-resource"
        class="relative flex-grow"
        type="search"
        label=""
        :placeholder="placeholder"
        @focus="showDropdown = true"
        @blur="showDropdown = false"
        @keyup.enter="showDropdown = false"
        @click="clearInputIfEmpty"
        @input="clearInputIfEmpty"
      />
    </div>
    <SDropdown
      ref="suggestionsDropdown"
      @select="fillWithSuggestion"
      :is-open="showDropdown && suggestedOptions.length > 0"
      :options="suggestedOptions"
      class="absolute left-0 top-full z-10 w-full bg-white"
    >
      <template #option="{ label, key }">
        <div>
          <p>{{ label }}</p>
          <div
            class="font-mono text-ec-neutral-180"
            v-html="highglightMatches(suggestedQuery(key), searchString)"
          />
        </div>
      </template>
    </SDropdown>
  </div>
</template>

<script setup lang="ts">
import escapeStringRegexp from 'escape-string-regexp';
import SInput from './SInput.vue';
import { ref, computed, type PropType, nextTick, watch } from 'vue';
import SDropdown from './SDropdown.vue';

const props = defineProps({
  placeholder: {
    type: String,
    default: 'Search...',
  },
  autocompleteOptions: {
    type: Array as PropType<{ key: string; label: string; query: string }[]>,
    default: [],
  },
});

const searchString = defineModel<string>('searchString', { type: String, default: '' });
const searchInput = ref<typeof SInput | null>(null);
const suggestionsDropdown = ref<typeof SDropdown | null>(null);

const suggestedOptions = computed(() =>
  props.autocompleteOptions.filter((option) =>
    option.query.match(escapeStringRegexp(searchString.value))
  )
);

const showDropdown = ref(false);

const suggestedQuery = (key: string) =>
  suggestedOptions.value.find((o) => o.key === key)?.query ?? '';

const fillWithSuggestion = async (key: string) => {
  searchString.value = suggestedQuery(key);
  if (!searchInput.value) return;
  await nextTick();
  searchInput.value.innerInput.value = searchString.value;
  showDropdown.value = false;
};

watch(searchString, (newValue) => {
  emit('update:modelValue', newValue);
});

const highglightMatches = (haystack: string, needle: string) => {
  return needle.length
    ? haystack.replace(
        new RegExp(`(${escapeStringRegexp(needle)})`, 'gi'),
        '<span class="font-bold">$1</span>'
      )
    : haystack;
};

const clearInputIfEmpty = async (event: Event) => {
  if (searchInput.value?.innerInput.value.length === 0) {
    searchString.value = '';
    await nextTick();
    showDropdown.value = true;
  }
};

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();
</script>
