---
import { getPublicEnv } from '@/util/getEnv';
import icons from '../assets/icons.svg?raw';
import HeaderComponent from '../components/Header';

interface Props {
  title: string;
}

const { title } = Astro.props;
const search = Astro.url.searchParams.get('search') || '';
// we set the environment variables in the window object so that they can be accessed by the client
const envParams = getPublicEnv();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script define:vars={{ envParams }} is:inline>
      window.envVars = envParams;
    </script>
  </head>
  <body class="bg-ec-other-background">
    <div style="position: absolute; width: 0; height: 0; overflow: hidden;">
      <Fragment set:html={icons} />
    </div>
    <HeaderComponent title="SIMPL" client:load searchValue={search} />
    <main class="mx-auto mb-5 mt-3 max-w-screen-xl px-8 2xl:max-w-screen-2xl">
      <slot />
    </main>
  </body>
</html>
